
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

header {
  padding: 20px 0;
}

header .row {
  display: flex;
  align-items: center;
}

header h1 {
  font-weight: 700;
  margin: 0;
}

header p {
  padding: 0 20px;
  margin: 0;
}

.jumbotron{
  display: flex;
  align-items: center;
  background-image: url('catcanva.jpg');
  background-size: cover;
  background-position: center;
  color: #ffffff;
  height: 500px;
  text-shadow: 0.25px 0.25px 0.25px #000000;
}

.jumbotron h2 {
  font-size: 60px;
  font-weight: 700;
  margin: 0;
  color: #DE3163;
}

.jumbotron h3 {
  margin: 0 0 20px;
  color: #DE3163;
}

.col-md-6 {
  margin: 0 0 30px;
}

